/*===========================
    11.FARMS css 
===========================*/



.farms-area{
    position: relative;
    z-index: 10;
    height: 655px;
    &::before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(2, 6, 14);
        opacity: 0.549;
        z-index: -1;
    }
    & .farms-content{
        & span{
            font-size: 24px;
            color: $white;
            font-weight: 700;
        }
        & .title{
            font-size: 80px;
            line-height: 80px;
            color: $white;
            padding-top: 27px;
            padding-bottom: 47px;
            @media #{$lg} {
                font-size: 66px;
                line-height: 76px;
            }
            @media #{$md} {
                font-size: 60px;
                line-height: 60px;
            }
            @media #{$xs} {
                font-size: 35px;
                line-height: 45px;
            }
            @media #{$sm} {
                font-size: 41px;
                line-height: 44px;
            }
            
        }
    }
    
    & .play{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        & a{
            height: 150px;
            width: 150px;
            text-align: center;
            line-height: 150px;
            background: $white;
            border-radius: 50%;
            color: $theme-color;
            font-size: 30px;
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: block;
            }
            
        }
    }
}



